@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Modelica';
  src: url('../public/fonts/modelica/woff2/BwModelica-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Modelica-Bold';
  src: url('../public/fonts/modelica/woff2/BwModelica-Bold.woff2') format('woff2');
  font-weight: 700;
  /* Adjust the font weight as needed */
  font-style: normal;
}

@font-face {
  font-family: 'Modelica-Medium';
  src: url('../public/fonts/modelica/woff2/BwModelica-Medium.woff2') format('woff2');
  font-weight: 700;
  /* Adjust the font weight as needed */
  font-style: normal;
}